body {
  margin: 0;
  background: #ECF0F1;
  /*background: #222;*/
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.google {
  margin: -50px auto -20px;
  height: 200px;
}
.icon {
  width: 32px;
  /*position: absolute;*/
}
.textbox {
background-color: #fff;
height: 38px;
width: 350px;
vertical-align: top;
border: 1px solid #d9d9d9;
padding: 0 10px;
}
.textbox:focus {
outline: none;
border-color: #1da1f2;
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section.main {
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: #000;
}
.list {
  flex: 1 300px;
  display: block;
  max-width: 300px;
  margin: 0 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list {
  flex: 1 300px;
  display: block;
  max-width: 300px;
  margin: 0 0px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }
.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list ul li {
  background: #ECF0F1;
  height: 40px;
  color: #ECF0F1;
  line-height: 40px;
}
.list.social ul li:hover,.list.gaming ul li:hover {
  background: #FBBC05;
}
.list.uni ul li:hover,.list.personal ul li:hover {
  background: #EA4335;
}
/*34A853*/
.list.news ul li:hover {
  background: #34A853;
}
/*4285F4*/
.list.entertainment ul li:hover {
  background: #4285F4;
}
.list ul li a {
  position: relative;
  padding-left: 15px;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  /*vertical-align: middle;*/
}
.link-text {
  position:absolute;
  margin-top: -4px;
  margin-left: 20px;
}
.list ul li:nth-child(2n) {
  background: #ECF0F1;
}
.list h1 {
  position: absolute;
  display: inline-block;
  color: #eee;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*padding: 5px 20px;*/
  font-size: 20px;
  font-weight: 400; }
.list.social.header,.list.personal.header {
  background: #4285F4;
}
.list.uni.header,.list.gaming.header{
  background: #34A853;
}
.list.news.header {
  background: #FBBC05;
}
.list.entertainment.header {
  background: #EA4335;
}
.hicon {
  margin: 4px 15px;
}
